.header_top
{
background-color: 	#ffb3ba;!important
}
.header-middle
{
    background-color: 	#ffdfba;!important
}
.header-bottom
{
    background-color: #ffffba;!important
}
.left-sidebar
{
    background-color: lightskyblue;!important
}
.slider
{
    background-color: #baffc9; !important
}